[submodule "ghostty"]
	path = ghostty
	url = https://github.com/Jesssullivan/ghostty.git
	branch = main
[submodule "homebrew-cmux"]
	path = homebrew-cmux
	url = https://github.com/manaflow-ai/homebrew-cmux.git
[submodule "vendor/bonsplit"]
	path = vendor/bonsplit
	url = https://github.com/manaflow-ai/bonsplit.git
[submodule "vendor/ctap2"]
	path = vendor/ctap2
	url = https://github.com/Jesssullivan/zig-ctap2.git
[submodule "vendor/zig-crypto"]
	path = vendor/zig-crypto
	url = https://github.com/Jesssullivan/zig-crypto.git
[submodule "vendor/zig-keychain"]
	path = vendor/zig-keychain
	url = https://github.com/Jesssullivan/zig-keychain.git
